<section class="banner about-banner">
  <div class="banner-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-banner-title">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content-main pt-zero white-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5 our-story-img pull-right">
        <img src="/images/about-us_03.png" alt="">
      </div>
      <!-- content for term_of_use webpage -->
      <div class="col-xs-12 col-md-7 our-story-cntnt about-story">
        <div class="about-story-bx">
          <h3>Our Story</h3>
          <p>We were the first to offer unbiased mortgage quotes from the best banks and lenders online so that you can get access to the cheapest loan you qualify for in the shortest amount of time. Today, we process over thirty million quotes a year in order to find the cheapest loan for you.</p>
          <h5><i class="fa fa-angle-right"></i>Philosophy</h5>
          <p>Pure, transparent data with no “sales speak” and hidden variables</p>
          <h5><i class="fa fa-angle-right"></i>Mission</h5>
          <p>To make mortgage shopping as easy as booking a plane ticket online.</p>
        </div>
      </div>
    </div>
    <!-- meta description of page -->
  </div>
</section>
<section class="about-bottom-page">
	<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 abt-tabs-cntnt text-center">
        <div class="gray-box-cntnt">
        	<span class="icon-bx">
        		<img src="/assets/grey-icon-1.png">
        	</span>
          <h3>Most Comprehensive Search</h3>
          <p>We search over 40 national banks for their best offers with a single application. No filling in your name and address 40 times!</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 abt-tabs-cntnt text-center">
        <div class="gray-box-cntnt">
        	<span class="icon-bx">
        		<img src="/assets/grey-icon-2.png">
        	</span>
          <h3>Expect Lower Prices</h3>
          <p>Never pay more than the absolute lowest rate for a mortgage you qualify for ever again. With PureLoan, over 40 banks know that they are fighting for your business at the same time.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 abt-tabs-cntnt text-center">
        <div class="gray-box-cntnt">
        	<span class="icon-bx">
        		<img src="/assets/grey-icon-3.png">
        	</span>
          <h3>No Spam</h3>
          <p>Unlike other agents, we will never sell your information to telemarketers.           <br> <br>  <br> <br></p>
        </div>
      </div>
    </div>
	</div>
</section>
