<% title t('pages.show.terms.title') %>
<% meta_description t('pages.show.terms.description') %>

<section class="banner directory-banner">
  <div class="banner-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-banner-title">
          <h1>Terms</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content-main pt-zero white-bg">
	<div class="container">
    	<div class="row">
			<h2>Term Page</h2>
		</div>
	</div>
</section>