<%= content_for :html_title, @category.name %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="blog-post-box">
        <div class="category-name-list">
          <h3>Recent posts</h3>
          <span><i class="fa fa-angle-right"></i> <%= @category.name %></span>
        </div>

        <ul class="author-posts">
          <% @category.recent_posts.each do |post| %>
            <li><%= render :partial => 'buttercms/posts/post', :locals => {:post => post} %></li>
          <% end %>
        </ul>
        </div>
        </div>
      <%= render 'partials/butter_cms_side_form'%>
  </div>
</div>