<% title t('pages.refinance.title') %>
<% meta_description t('pages.refinance.description') %>

<!-- banner start-->
<%= render partial: "partials/basic_search" %>
<!-- banner end-->
<!-- search result feed start-->
<section class="content-main ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
				<%= render partial: "partials/result" %>
			</div>
		</div>
	</div>
</section>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <%= render partial: "partials/closing_cost_summary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 home_closing">
      <%= render partial: "partials/expert_list" %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#adv-option').click(function () {
        $("html, body").animate({
            scrollTop: 250
        }, 1000);
        //return false;
    });
</script>
